<!DOCTYPE html>
<html lang="fr" xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{_layout :: header(~{::title},_,_)}">
    <title>Accueil MM</title>
</head>

<body>
    <nav th:replace="~{_layout::menu}"></nav>
    <div class="container">
        <h1>En boutique aujourd'hui <i class="fa-solid fa-dice"></i></h1>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Quantité</th>
                    <th scope="col"> </th>
                </tr>
                <tr class="table-dark" th:each="p : ${produits}">
                    <td th:text="${p.nom}"></td>
                    <td th:text="${p.prix}"></td>
                    <td th:text="${p.quantite}"></td>
                    <td></td>
                </tr>
            </thead>
        </table>
    </div>

</body>

</html>